html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizelegibility;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    position: relative;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #202020;
    background: #333;
    font-weight: 400;
    color: #444;
    font-size: 16px;
}

#demo {
    text-align: center;
    width: 100%;

    h1, h2 {
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 800;
        letter-spacing: -1px;
        line-height: 1;
        padding-bottom: .618em;
    }
    h2 {
        font-size: 3em;
    }

    .big-text {
        font-size: 1.5em;
        line-height: 1.618;
    }

    .demo-block {
        padding: 5em 2em;

        &-container {
            max-width: 690px;
            margin: 0 auto;
        }

        &-explain {
            background: #eee;
        }

        &-gold {
            background: url(https://ununsplash.imgix.net/photo-1425786680982-d62d9f35a08a?fit=crop&fm=jpg&h=725&q=75&w=1050) no-repeat center;
            background-size: cover;
            padding: 5em 0 20em;
            height: 100vh;

            .gradient-text {
                font-weight: 900;
                text-transform: uppercase;
                font-size: 4em;
                line-height: 1;
                padding: 0;
            }
        }
    }
}

.forkme {
    display: block;
}

@media screen and (max-width: 720px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}